.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  margin-top: 4px;
}

.example-header-image {
  background-size: cover;
}

.title {
  font-weight: bold;
}

.img-article {
  height: 350px;
}

.action-buttons {
  text-align: center;
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  /* //background: rgba(255, 0, 0, 0.5); */
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.source-name {
  margin-left: 5px;
}

.list-item:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}
